{% extends "main/layout.html" %}
{% load recommends %} <!-- 레코맨더 -->

{% block title %}
성동이의 음악추천
{% endblock %}

{% block content %}
{% load thumbnail %} <!-- 썸네일 -->

<!-- {{posts}} : 모든 포스팅 인스턴스들, {{current_user}} : 현재 유저 <request한 유저> , {{newthings}} : 가장 최근에 등록된 포스트 5개-->
<div class="container no-margin">
  
  <!-- 평점 제일 높은 동영상 띄우는 자리 -->
  <div class="row">
    <div class="card">
      <!-- 유튜브 동영상 뜨는 자리 -->
      <div class="video-container">
        <iframe width="853" height="480" src="{{newthings.first.videourl}}" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
      <!-- 개인화 추천 뜨는 곳 -->
      <div class="card main-recomm">
        {% suggested as suggestions limit 5  %}
          <div class="card-content white-text">
              <span class="card-title"><h1>Recommendations for you:</h1></span>
          
          {% if user.is_authenticated %} <!-- 로그인이 되어 있다면! -->
          
            <div class="carousel">
              {% if suggestions %} 
                  {% for suggestion in suggestions %}
                    <a class="carousel-item" href="{{suggestion.object.get_absolute_url}}"><img class="responsive-img" src="{{suggestion.object.photo.url}}"></a>
                  {% endfor %}
            </div>
          
              {% else %} <!-- 추천 목록이 아직 존재하지 않으면 Rating (Vote) 관련 정보가 없어서 그런 것이니 아래 텍스트를 출력한다 -->
                <div class="center">
                  <h2>아직 정보가 없네요ㅠㅠ<br> 별점을 매겨주세요!</h2>
                </div>
              {% endif %}
            </div>  
            
          {% else %} <!-- 로그인 안되어 있으면 아래 텍스트 출력 -->
            <h1><strong><a href="{% url 'loginForm' %}"> 추천목록을 보시려면 로그인하세요!</a></strong></h1>
          {% endif %}
          </div>

    <!-- 타임라인인데 시간 내림차순으로 하지말고 평균 Rating 높은 순으로 수정하기 -->

      
      {% for post in posts %}
        <div class="card" id="post_{{post.pk}}">
          <div class="row">
            <div class="col l5 m5 s12">
              <!-- 글쓴이 정보와 썸네일 출력-->
              <p><strong>{{post.author}}</strong>  {{post.created_date}}</p>
                {% if post.photo %}<!-- 사진까지 업로드 했다면,,이지만 나중에 업로드 기능을 구현하면 사진은 강제로 넣게 해야할듯? -->
                    {% thumbnail post.photo "300x300" crop="center" as im %} <!-- 사진이 있으면 그 아이를 300x300 크기의 썸네일로 만들어서 im으로 다룬다 -->
                        <img class="responsive-img" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                {% endif %}
                <!-- 평점 계산된게 있으면 그거 출력하고 아니면 Not Yet 출력하기 -->
                {% if post.meanstar > 0.0 %}
                  <h5 style="margin-left: 95px; color: #0091ea ">평점 : {{post.meanstar}}</h5>
                {% else %}
                  <h5 style="margin-left: 105px; color: #0091ea ">Not Yet</h5>
                {% endif %}
            </div>
            <div class="col l7 m7 s12">
              {% if current_user == post.author %} <!-- 현재 로그인한 유저와 글쓴이가 같다면 삭제할 수 있도록 -->
                <button class="post_delete" style="color: black; margin-left: 5px; float: right;" value="{{post.pk}}"><span class="glyphicon glyphicon-trash"></span></button>
              {% endif %}
              <!-- 노래 정보 출력-->
              <h2>아티스트 : {{post.artist}}</h2>
              <h2>곡명 : {{post.songname}}</h2>
              <!-- 포스팅 내용 출력 (제목과 좋아하는 가사 ) -->
              <div class="card hide-on-med-and-down">
                <h2 style="font-family: 'Rancho';">{{post.title}}</h2>
                <h3 style="font-family: 'Rancho';">{{post.text}}</h3>
              </div>
              <!-- 자세히 보기 버튼 -->
                <h2><a class="btn btn-primary btn-lg light-blue accent-4"  href = "{% url 'post_detail' pk=post.pk %}" style="float: right; font-family: 'Rancho';"><strong>Wonder</strong></a></h2>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
</div>

<script>

$(document).ready(function(){
      $('.carousel').carousel();
});

$(function(){ // 인터넷 페이지가 로딩되면 이 js를 쓰겠다.

  //post_delete 이란 녀석이 클릭이 되면, 아래 코드를 돌린다.
    $('.post_delete').click(function(){
    post_id = this.value; // 눌린 클래스의 value (pk)를 받아오고
    $.ajax({ // AJAX로 포스트로 날린다
      method: "POST",
      url: "{% url 'post_delete' %}",
      data: {id_of_post: post_id, csrfmiddlewaretoken: '{{ csrf_token }}',}, // AJAX 이용할 때 CSRF 토큰 역시 딕셔너리에 주면 됌 
      success: function(){ // POST에 성공하면 id가 post_pk 인 태그를  fadeout 시킨다
         $( "#post_" + post_id ).fadeOut( "fast", function() {
            // Animation complete.
          });
      },
      error: function(xhr, textStatus, error){
      console.log(xhr.statusText);
      console.log(textStatus);
      console.log(error);
      }
    });
    
  });
});


</script>
{% endblock %}